<form action="/payment/results">
  <div>
    <label for="apr_num">APR</label>
    <input id="apr_num" type="text" name="apr_num" placeholder="E.g. 5.42">
  </div>
  <div>
    <label for="years_num">Number of years</label>
    <input id="years_num" type="text" name="years_num" placeholder="How many years to repay?">
  </div>
  <div>
    <label for="principal_num">Principal</label>
    <input id="principal_num" type="text" name="principal_num" placeholder="How much principal">
  </div>

  <button>Calculate monthly payment</button>
</form>
